<div class="container">
    <h2 class="pos">Sign Up</h2>
<form class="align-items-center">
    <br>
    <div class="row col-sm-10">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Middle name" aria-label="Middle name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div><br>
    <div class="row col-sm-10">
        <div class="col input-group">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" id="autoSizingInputGroup" placeholder="Email Address">
        </div>
        <div class="col">
            <input type="password" class="form-control" placeholder="Password">
        </div>
    </div><br>
    <div class="row col-sm-10">
        <div class="col">
          <input type="text" class="form-control" placeholder="User Security Question?">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="User Security Answer.">
        </div>
    </div>
</form>
</div>


<!-- <form>
    <div class="mb-3" col>
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->