<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </div>
</nav>
<br><br><br>
<div class="center">
    <h2 class="center-text">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">

        <div class="col-sm-6 input-group center">
            <div class="input-group-text">@</div>
            <input type="email" class="form-control" formControlName="email" placeholder="Email Address" [ngClass]="{
            'is-invalid':loginForm.get('email').touched && loginForm.get('email').invalid}">
            <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="invalid-feedback">
                <div *ngIf="loginForm.get('email').errors.required">Email is Required</div>
                <div *ngIf="loginForm.get('email').errors.email">Enter proper email</div>
            </div>
        </div>
        <div class="col-sm-6 center">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{
            'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}">
            <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid"
                class="invalid-feedback">
                <div *ngIf="loginForm.get('password').errors.required">Password is Required</div>
                <div *ngIf="loginForm.get('password').errors.minlength">Password must be of 8 characters</div>
            </div>
        </div>
        <br>
        <div class="col-sm-6 center" style="margin-right: 42%; text-align: center;">
            <button class="center-text" mat-raised-button color="accent" class="reg_button" type="submit" style="width:95px"
                [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="col-sm-6 center" style="text-align: center;">
            <a style="text-decoration: none;" routerLink="../signup"><button class="btn btn-warning">Go Back</button></a>
        </div>
    </form>
    <div id="error_message" style="text-align: center; margin: auto; width: auto; color: red;">
        <!--shows some error message-->
    </div>
</div>