<div class="heading">
    <h2>Teacher/Coordinator</h2>
</div>
<div class="content-admin-home">
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Profile</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Courses</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-warning">Assignments</a>&nbsp;
                        <a href="#" class="btn btn-warning">Submissions</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Assignments</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Submissions</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Subjects</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Notifications</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<main><router-outlet></router-outlet></main>