<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="top-photo col-md-12 ">
        <!-- <img src="https://senerov.com/w1.jpg"> -->
        <h3>Şener YILMAZ</h3>
        <h5>Front-End-Developer</h5>
    </div>

    <div class="user">
        <!-- <img src="https://senerov.com/avatar.jpg"> -->
    </div>

    <div class="container-fluid" style="margin-left: 50px;">
        <div class="row">
            <div class="about" col-md-6>
                <h3>About<i>Me</i></h3>

                <div class="col-md-6">
                    <div class="about-in">
                        <p>Hello I'm Şener.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</p>

                        <div id="social">
                            <a class="facebookBtn smGlobalBtn" href="#"></a>
                            <a class="twitterBtn smGlobalBtn" href="#"></a>
                            <a class="googleplusBtn smGlobalBtn" href="#"></a>
                            <a class="linkedinBtn smGlobalBtn" href="#"></a>
                            <a class="pinterestBtn smGlobalBtn" href="#"></a>
                            <a class="tumblrBtn smGlobalBtn" href="#"></a>
                            <a class="rssBtn smGlobalBtn" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <br>
            <div class="col-md-3 col-xs-6">
                <div class="details-left">
                    <h3>Contact <i>Details</i></h3>
                    <ul>
                        <li>Age </li>
                        <li>Country </li>
                        <li>Adress</li>
                        <li>E-mail</li>
                        <li>Phone</li>
                        <li>Position</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="detail-right">
                    <ul>
                        <li>24</li>
                        <li>Turkey</li>
                        <li>Pendik-İstanbul</li>
                        <li>senerov@senerov.com</li>
                        <li>0534 344 44 44</li>
                        <li>Free</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <a style="text-decoration: none;" routerLink="../edit-profile">
                <button class="btn btn-warning" style="width: 100px;">Edit</button>
            </a>
        </div>
    </div>
    <br>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
<main>
    <router-outlet></router-outlet>
</main>