<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../forum/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../app-cookie">Cookie</a>
                </li>
            </ul>
            <div>
                <a style="text-decoration: none;" routerLink="../../views/profile"><button
                        class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp;
            <div>
                <a style="text-decoration: none;" routerLink="../../views/post-create"><button
                        class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp;
            <div>
                <button class="d-flex btn btn-outline-success" (click)="logout()">Logout</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</nav>
<br><br><br>

<body>

    <div class="top-photo col-md-12 ">
        <!-- <img src="https://senerov.com/w1.jpg"> -->
        <h3>Şener YILMAZ</h3>
        <h5>Front-End-Developer</h5>
    </div>

    <div class="user">
        <!-- <img src="https://senerov.com/avatar.jpg"> -->
    </div>

    <div class="container-fluid" style="margin-left: 50px;">
        <div class="row">
            <div class="about" col-md-6>
                <h3>About<i>Me</i></h3>

                <div class="col-md-6">
                    <div class="about-in">
                        <p>{{user_data.data.bio}}</p>

                        <div id="social">
                            <a class="facebookBtn smGlobalBtn" href="#"></a>
                            <a class="twitterBtn smGlobalBtn" href="#"></a>
                            <a class="googleplusBtn smGlobalBtn" href="#"></a>
                            <a class="linkedinBtn smGlobalBtn" href="{{user_data.data.git_profile}}"></a>
                            <a class="pinterestBtn smGlobalBtn" href="#"></a>
                            <a class="tumblrBtn smGlobalBtn" href="#"></a>
                            <a class="rssBtn smGlobalBtn" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <br>
            <div class="col-md-3 col-xs-6">
                <div class="details-left">
                    <h3>Contact <i>Details</i></h3>
                    <ul>
                        <li>English Efficiency </li>
                        <li>Roll Number </li>
                        <!-- <li>Adress</li>
                        <li>E-mail</li>
                        <li>Phone</li>
                        <li>Position</li> -->
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="detail-right">
                    <ul>
                        <li>{{user_data.data.english_efficiency}}</li>
                        <li>{{user_data.data.roll_number}}</li>
                        <!-- <li>Pendik-İstanbul</li>
                        <li>senerov@senerov.com</li>
                        <li>0534 344 44 44</li>
                        <li>Free</li> -->
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <a style="text-decoration: none;" routerLink="../edit-profile">
                <button class="btn btn-warning" style="width: 100px;">Edit</button>
            </a>
        </div>
    </div>
    <br>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
<main>
    <router-outlet></router-outlet>
</main>