<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../forum/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../app-cookie">Cookie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../admin-panel/admin-home">AdminPanel</a>
                </li>
                <div>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="../../dashboard/admin">Admin</a>
                    </li>
                </div>
                <li>
                    <a class="nav-link" routerLink="../../video/search_video">Videos</a>
                </li>
            </ul>
            <div>
                <a style="text-decoration: none;" routerLink="../../views/profile"><button
                        class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp;
            <div>
                <a style="text-decoration: none;" routerLink="../../views/post-create"><button
                        class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp;
            <div>
                <button class="d-flex btn btn-outline-success">Logout</button>
            </div>
        </div>
    </div>
</nav>
<br><br><br>
<div class="heading">
    <h2>Ticket Section</h2>
</div>
<div class="content-admin-home">
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;">
                        <h5>Check Coordinators</h5>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6" ng-show="collapsed" (click)="show_ticket()">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;">
                        <h5>Raise Ticket</h5>
                    </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br>
<div class="container" id="ticket" style="width: 700px;" hidden>
    <form [formGroup]="ticket_form" (ngSubmit)="RaiseTicket(ticket_form.value)">
        <div class="form-group">
            <label>Contact Info : Email</label>
            <input type="email" class="form-control" formControlName="contact" [ngClass]="{
                'is-invalid':ticket_form.get('contact').touched && ticket_form.get('contact').invalid}">
            <div *ngIf="ticket_form.get('contact').touched && ticket_form.get('contact').invalid"
                class="invalid-feedback">
                <div *ngIf="ticket_form.get('contact').errors.required">Email is Required</div>
                <div *ngIf="ticket_form.get('contact').errors.email">Enter proper email</div>
            </div>
        </div>
        <div class="form-group">
            <label>Special Request</label>
            <input type="text" class="form-control" formControlName="request" [ngClass]="{
                'is-invalid':ticket_form.get('request').touched && ticket_form.get('request').invalid}">
            <div *ngIf="ticket_form.get('request').touched && ticket_form.get('request').invalid"
                class="invalid-feedback">
                <div *ngIf="ticket_form.get('request').errors.required">Required</div>
                <div *ngIf="ticket_form.get('request').errors.minlength">Minimum length is 2</div>
            </div>
        </div>
        <div class="form-group">
            <label>Request Type</label>
            <select class="form-control" formControlName="req_type" [ngClass]="{
                'is-invalid':ticket_form.get('req_type').touched && ticket_form.get('req_type').invalid}">
                <option value="none" selected>--Select--</option>
                <option value="admin_access">Admin Access</option>
                <option value="coordinator_access">Coordinator Access</option>
                <option value="privilege_escalation">Escalate Privilege</option>
            </select>
            <div *ngIf="ticket_form.get('request').touched && ticket_form.get('request').invalid"
                class="invalid-feedback">
                <div *ngIf="ticket_form.get('req_type').errors.required">Required</div>
            </div>
        </div><br>
        <div style="text-align: center;">
            <button class="btn btn-warning" type="submit" [disabled]="!ticket_form.valid">Raise Ticket</button>
        </div>
    </form>
</div>



<main>
    <router-outlet></router-outlet>
</main>