<div class="heading">
    <h2>Student</h2>
</div>
<div class="content-admin-home">
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Self Admin Level</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Profile</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>Self Privilege</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>All Coordinators and Subjects</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>All Posts</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="#">
                <div class="card text-center border-dark mb-3">
                    <div class="card-header" style="color: black;"><h5>All Users</h5></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<main><router-outlet></router-outlet></main>