<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../forum/feed">Feed</a>
                </li>
            </ul>
            <!-- <div>
                <a style="text-decoration: none;" routerLink="../../views/profile"><button class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp; -->
            <!-- <div>
                <a style="text-decoration: none;" routerLink="../../views/post-create"><button class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp; -->
            <div>
                <button class="d-flex btn btn-outline-success">Logout</button>
            </div>
        </div>
    </div>
</nav>
<br><br><br>
<h5 style="text-align: center;">Subject Enrollment for {{user.first_name +" "+user.last_name}}</h5>
<br><br>
<div class="container">
    <h5>Already Enrolled For:</h5><p *ngIf="(show_subjects.length)==0">Enrollment Not Done</p>
    <ul>
        <li *ngFor="let item of show_subjects">
            {{item.toString()}}
        </li>
    </ul>
</div>
<br><br>
<div class="container" style="text-align: center;">
    <form [formGroup]="enroll_subject" (ngSubmit)="Add_subject(enroll_subject.value)">
        <div class="form-group">
            <label for="subjects">
                <h5>Enroll Yourself to a new Subject</h5>
            </label>
            <select class="form-control" formControlName="subject_id" style="height: 50px;">
                <option *ngFor="let item of all_subjects" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Add Subject</button>
    </form>
</div>