<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../forum/feed">Feed</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="../../video/search_video">Videos</a>
                </li>
            </ul>
            <!-- <form class="d-flex"> -->
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <div>
                <a style="text-decoration: none;" routerLink="../../views/profile"><button class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp;
            <div>
                <a style="text-decoration: none;" routerLink="../../views/post-create"><button class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp;
            <div>
                <button class="d-flex btn btn-outline-success" (click)="logout()">Logout</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</nav>
<br><br><br>
<div class="container">
    <h4 style="text-align: center; margin:auto">Edit Profile</h4><br>
    <div class="create">
        <form [formGroup]="profile_edit_form" (ngSubmit)="EditSubmit(profile_edit_form.value)">
            <div class="form-group">
                <label>Profile Headline</label>
                <input type="text" class="form-control" formControlName="headline" value="{{headline}}">
            </div>
            <div class="form-group">
                <label>Your BIO</label>
                <textarea class="form-control" formControlName="bio" value="{{bio}}"></textarea>
            </div>
            <div class="form-group">
                <label>Your English Efficiency</label>
                <input type="text" class="form-control" formControlName="english" value="{{ee}}">
            </div>
            <div class="form-group">
                <label>GITHUB link</label>
                <input type="text" class="form-control" formControlName="github" value="{{gitlink}}">
            </div>
            <div class="form-group">
                <label>LinkedIn link</label>
                <input type="text" class="form-control" formControlName="linkedin" value="{{linkedlink}}">
            </div>
            <div class="form-group">
                <label>Your roll number</label>
                <input type="text" class="form-control" formControlName="rollno" value="{{roll}}">
            </div>
            <div class="form-group">
                <label>User since</label>
                <input type="text" class="form-control-plaintext" formControlName="user_since" value="{{user_since}}" disabled>
            </div>
            <div>
                <button class="btn btn-warning" type="submit">Confirm Changes</button>
            </div>
        </form>
    </div>
</div>