<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">JASS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<!-- <br><br><br>

<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink>Top</a>
      <ng-template ngbNavContent>
        
      </ng-template>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink>Middle</a>
      <ng-template ngbNavContent>
        
      </ng-template>
    </li>
    <li ngbNavItem="bottom">
      <a ngbNavLink>Bottom</a>
      <ng-template ngbNavContent>
        
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div> -->