<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../forum/feed">Feed</a>
                </li>
                <!-- <li class="nav-item" ngIf="!isCoor">
                    <a class="nav-link" routerLink="../../dashboard/student">Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="isCoor">
                    <a class="nav-link" routerLink="../../dashboard/teacher">Dashboard</a>
                </li> -->
            </ul>
            <div>
                <a style="text-decoration: none;" routerLink="../../views/profile"><button class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp;
            <div *ngIf="isCoor">
                <a style="text-decoration: none;" routerLink="../../views/post-create"><button class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp;
            <div>
                <button class="d-flex btn btn-outline-success" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container" style="text-align: center;" *ngIf="isStudent">
    <h3>My Submissions</h3>
    <p style="color: green;">Click on a Assignment Name to show it</p>
    <!-- <button style="margin-left: 47%;" class="btn btn-danger" (click)="opensweetalert()">Delete All</button> -->
    <table style="margin-left: 15%;">
        <tr>
            <th>Submission ID</th>
            <th>Assignment Name</th>
            <th>Marks</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        <tr *ngFor="let item of submission_data" style="height: 45px;">
            <td>{{item.id}}</td>
            <td (click)="showsub(item)">{{item.assignment_ref.body}}</td>
            <td>{{item.marks}}</td>
            <td style="text-align: center;">
                <button class="btn btn-primary" (click)="Edit(item.id)" *ngIf="!item.checked">Edit</button>&nbsp;
            </td>
        </tr>
    </table>
</div>
<div class="container" style="text-align: center;" *ngIf="isCoor">
    <h3>Student Submissions</h3>
    <!-- <button style="margin-left: 47%;" class="btn btn-danger" (click)="opensweetalert()">Delete All</button> -->
    <table style="margin-left: 15%;">
        <tr>
            <th>Assignment Name</th>
            <th>Total Marks</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        <tr *ngFor="let item of show_data">
            <td>{{item.assignment.body}}</td>
            <td>{{item.assignment.total_score}}</td>
            <td style="text-align: center;">
                <button class="btn btn-warning" [routerLink]='["/courses/view/",item.assignment.id]'>View Submissions</button>
            </td>
        </tr>
    </table>
</div>