<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" style="color:white" routerLink="/admin-panel/admin-home">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="/admin-panel/admin-home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="/admin-panel/user">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="/admin-panel/admin-cred/list">Credentials</a>
                </li>
                <li>
                    <a class="nav-link" style="color: white;" routerLink="/admin-panel/subjects/view">Subjects</a>
                </li>
                <li>
                    <a class="nav-link" style="color: white;" routerLink="/admin-panel/tickets">Tickets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<h3>Co-Ordinator Priviledge Edit</h3>
<div class="container">
    <form>
        <label for="co_id">Co-Ordinator ID</label>
        <input type="text" id="co_id" name="co_id"><!-- make it disabled -->

        <!-- auto populate below fields using data from backend and interpolation concept -->
        <label for="co_name">Co-Ordinator Name</label>
        <input type="text" id="co_name" name="co_name">
        <!-- read from backend and only show the subjects already taken by co-ordinator boxes should be ticked from before -->
        <!-- <input type="checkbox" [checked]="item.check == 'true'"> use this logic-->
        <fieldset>
            <legend>Already Has Priviledge For:</legend>
            <input type="checkbox" id="subject1" name="" value="">
            <label for="subject1"> Subject Name</label><br>
        </fieldset>

        <fieldset>
            <legend>Asking Priviledge For:</legend>
            <input type="checkbox" id="subject1" name="" value="">
            <label for="subject1"> Subject Name</label><br>
        </fieldset>
        <input type="submit" value="Submit">
    </form>
</div>