<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-warning bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="../../forum/home">JASS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="../../../forum/feed">Feed</a>
                </li>
                <li class="nav-item" *ngIf="usercookie === 'User'">
                    <a class="nav-link" routerLink="../../../dashboard/student">Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="usercookie === 'Coor'">
                    <a class="nav-link" routerLink="../../../dashboard/teacher">Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="usercookie === 'Coor'">
                    <button class="nav-link btn btn-outline-warning">Ticket</button>
                </li>
                <!-- <li>
            <a class="nav-link" routerLink="../../video/search_video">Videos</a>
          </li> -->
            </ul>
            <div>
                <a style="text-decoration: none;" routerLink="../../../views/profile"><button
                        class="d-flex btn btn-success">Profile</button></a>
            </div>&nbsp;
            <div *ngIf="usercookie === 'Coor'">
                <a style="text-decoration: none;" routerLink="../../../views/post-create"><button
                        class="d-flex btn btn-success">Create Post</button></a>
            </div>&nbsp;
            <!-- <div>
          <button class="d-flex btn btn-outline-success" (click)="logout()">Logout</button>
        </div> -->
        </div>
    </div>
</nav>
<br><br><br>
<h5 style="text-align: center;">Comments Section</h5>
<br><br>
<!-- <button style="margin-left: 47%;" class="btn btn-danger" (click)="opensweetalert()">Delete All</button> -->
<div class="topic container" *ngFor="let item of data1;">
    <div class="topic__head">
        <div class="topic__caption">
            <div class="topic__name">
                <a href="#">{{item.data.reply.user_ref.first_name}} {{item.data.reply.user_ref.last_name}}</a>
            </div>
            <div class="topic__date">
                <!-- <div class="topic__user topic__user--pos-r">
                    <p style="padding-top: 15px;">replied to</p>
                    <a href="#" class="topic__user-name">{{data[3].data.first_name}}</a>
                </div> -->
                <i class="icon-Watch_Later"></i>{{item.data.reply.made_date}}
            </div>
        </div>
    </div>
    <div class="topic__content">
        <div class="topic__text">
            <p>{{item.data.reply.body}}</p>
        </div>
        <div class="topic__footer">
            <div class="topic__footer-likes">
                <div>
                    <a><button class="btn btn-success">Upvote</button></a>
                    <span>137</span>
                </div>
                <div>
                    <a><button class="btn btn-danger">Downvote</button></a>
                    <span>02</span>
                </div>
            </div>
            <div class="topic__footer-share">
                <!-- <a><button class="btn btn-warning" (click)="showReplies(item.data.reply.id, new)">Show Replies</button></a> -->
                <a><button class="btn btn-warning" (click)="show(item.data.reply.id)">Reply</button></a>
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="replyofreply-{{item.data.reply.id}}" style="margin-left: 4%;" hidden>
        <form [formGroup]="reprepsubmit" (ngSubmit)="reprepsubform(reprepsubmit.value, item.data.reply.id)">
            <textarea formControlName="reprep" style="width: 98%;"></textarea>
            <br>
            <button type="submit" class="btn btn-warning">Reply to this Comment</button>
        </form>
    </div>
    <br>
    <div class="topic topic--comment" *ngFor="let item2 of item.data.reply2; let new = index">
        <div class="topic__head">
            <div class="topic__caption">
                <div class="topic__name">
                    <a href="#">{{item.data.reply2[new].user_ref.first_name}} {{item.data.reply2[new].user_ref.last_name}}</a>
                </div>
            </div>
            <a class="topic__arrow topic__arrow--up"><i class="icon-Arrow_Up"></i></a>
        </div>
        <div class="topic__content">
            <div class="topic__text">
                <p>{{item2.body}}</p>
            </div>
        </div>
    </div>
</div>