<!-- <h1>POST</h1>
<div>
<img class="circleborder"><img src=""/>
<h2>Title</h2>
<button type="button" class="upvote">UPVOTE</button>
<h3>Content</h3>
<button type="button" class="downvote">DOWNVOTE</button>
<h4>Author</h4>
</div> -->
<div class="container feed-content">
    <br>
    <div class="row">
        <div class="col-md-8">
            <h5>Title of Post</h5>
            <div class="row">
                <div class="col-md-6"><i>Author</i></div>
                <div class="col-md-6"><i>Kichu akta</i></div>
            </div>
        </div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <br>
</div>