<!-- <h1>POST</h1>
<div>
<img class="circleborder"><img src=""/>
<h2>Title</h2>
<button type="button" class="upvote">UPVOTE</button>
<h3>Content</h3>
<button type="button" class="downvote">DOWNVOTE</button>
<h4>Author</h4>
</div> -->
<div class="container feed-content">
    <div class="row">
        <div class="col-md-8">
            .col-md-8
            <div class="row">
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-6">.col-md-6</div>
            </div>
        </div>
        <div class="col-md-4">.col-md-4</div>
    </div>
</div>